.w {
    width:1200px;
    margin: 0 auto;
}
header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}
.logo {
    margin-top: 18px;
}
.registerarea {
    border:1px solid #ccc;
    height: 522px;
    margin-top: 20px;
}
.registerarea h3 {
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
}
.login {
    float: right;
}
.reg_form {
    margin:50px auto 0;
    width: 600px;
    
}
.reg_form ul li {
    margin-bottom: 20px;
}
.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li input {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}
.error {
    color: red;
}
.error_icon {
    vertical-align: middle;
    margin-top: -2px;
    display:inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/矩形8.png) no-repeat ;
}